/* this is a comment */
.title {
  font-size: 20px;
  /* background-color: aqua; */
}

p {
  background-color: white;
  font-size: 30px;
}

#parrafo {
  font-size: 18px;
  background-color: blueviolet;
  border: 1px solid red;
}

p {
  font-size: 10px;
}
#test {
  font-size: 10px;
}
.container {
  font-size: 10px;
}

p,
#test,
.container {
  font-size: 10px;
}

.external-container,
#container-text,
.title-example,
.sub-container {
  font-size: 30px;
  color: brown;
}

.first-container {
  padding: 10px;
  font-size: 15px;
  background: dimgrey;
  margin: 10px 12px 20px 35px;
}
