.header {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: start;
}

.show-menu {
  display: none;
}

.container {
  display: flex;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  width: 100%;
}

.aside-container {
  width: 30%;
}

.space-menu {
  margin-right: 20px;
}
.container-section{
    margin-right: 28px;
}

.container-footer{
    display: flex;
    justify-content: center;
}
