.header {
  display: flex;
  justify-content: center;
}

.nav-cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: start;
}
.show-menu{
    display: none;
}

.main-container{
    display: flex;
}

.space-menu{
    margin-right: 20px;
}
